h1 {
    color: #2E403D
    
}

h2 {
    color: #A4B9AB ;
    background-color: #2E403D;
}

#section1{
    color: #2E403D;
    background-color: #F2D1B1;
}

#section2{
    color:#2E403D;
    background-color: #F2F1B1;
}

#section3{
    color:#2E403D;
    background-color: #D2F2B1;
}