header{
    background-color: #2E403D;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.title_color{
    color: #A4B9AB;
    font-family: 'Satisfy', cursive;
}
q{
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}
#logo{
    width: 80px;
    height: auto;
}
