@media only screen and (min-width: 56em) {
    .menunavigation a{
        font-size: 25px;
    }

    .title_color{
        font-size: 50px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
    }
    div section{
        width: 600px;
        background-color: #D2F2B1;
    }
    .cards img{
       width: 600px;
       height: 400px;
    }
   .cards h1{
    margin-left: 250px;
    }
    .articleimg {
        float: right;
        max-width: 250px;
        border: 1px solid gray;
        box-shadow: 0 0 30px #333;
    }
  }
