
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.menunavigation {
		display: flex;
	}
	.menunavigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.menunavigation a {
		text-align: center;
	}
	.menunavigation li:first-child {
		display: none;
	}

	.title_color{
		margin-bottom: 10px;
	}

	/* .container{
		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;
	} */
    .cards section{
        background-color: #D2F2B1;
		max-width: 600px;
		margin: .5em auto;
		border: 1px solid gray;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
    }

	.cards section:nth-child(odd){
		flex-direction: row-reverse;
	}
    .titleplaceholder{
		margin: auto;
		max-width: 950px;
		background-color: #F2D1B1;
	}
    .articleimg{
		float: right;
		max-width: 250px;
		border: 1px solid gray;
		box-shadow: 0 0 30px #333;
	}

}