
/* Small/Phone View ***************/

.headerflex{
    background-color: #2E403D;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0px;
}

.specialmessage{
    margin: 0 auto;
    margin-top: 0px;
    min-width: fit-content;
    background-color: #F2D1B1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.title_color{
    color: #A4B9AB;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-top: 40px;
    
}

.preston_title{
    color: #2E403D;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    text-align: center;
}


.placeholder{
    font-family: 'Raleway', sans-serif;
    padding: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    background-color: #F2D1B1;
    height: 350px;

}

.prestonimg{
    display: none;
}

.titleplaceholder{
    padding: 1em;
    /* margin-bottom: 1em; */
    border-bottom: 3em solid white;
    background-color: #D2F2B1;
    border-top: 3em solid white;
}
q{
    
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
#logo{
    width: 150px;
    height: auto;
}


nav {
	margin: 0 auto;
	background-color: #A4B9AB;
}
.menunavigation {
	list-style: none;
	padding: 0;
    margin-top: -1px;
}
.menunavigation li:first-child {
	display: block;
}
.menunavigation li {
	display: none;
}
.menunavigation a {
	display: block;
	transition: 0.5s;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #2E403D;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    /* margin-block-start: -1em; (It also change the elements inside) */
}

.menunavigation a.home::before {
	content: "➕";
}

.menunavigation li:hover {
	color: black;
	background-color: #D2F2B1;
}


a.active{
    color: #2E403D;
    font-family: 'Satisfy', cursive;
}

.responsive li {
	display: block;
}

.responsive a.home::before {
	content: "➖";
}

footer{
    background-color: #2E403D;
    padding: 5px 0;
    margin: 0 auto;
}

.fotter_text{
    color: #A4B9AB;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.date_fotter{
    display: flex;
    color: #A4B9AB;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    justify-content: center;

}

.pdate{
    margin-left: 5px;
}

.herodiv{
    margin: 0px auto;
    justify-content: center;
}

.heroimg img{
    max-width: -webkit-fill-available;
}
.townimg{
    max-width: -webkit-fill-available;
}

.weathersummary{
    margin-top: -1.5em;
    background-color: #F2F1B1;
    ;
    padding-bottom: 10px;
}

.weathersummary span{
    font-family: italic;
    color: #2E403D;
    font-weight: 700;

}

.weathersummary h3{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.weathersummary p{
    padding-left: 10px;
}

.fivedayflex{
    display: none;
}

h1{
    color: #2E403D;
    font-family: 'Satisfy', cursive;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.titleplaceholder p{
    line-height: 30px;
}

.adress h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.articleimg{
    max-width: -webkit-fill-available;
}

div section{
    padding: 10px;
    border-bottom: 1em solid white;
    border-left: 1em solid white;
    width: 400px;
    background-color: #F2D1B1;
}
img{
    width: 400px;
}
.articleimg{
    max-width: -webkit-fill-available;
}
.titleplaceholder{
    padding: 1em;
    /* margin-bottom: 1em; */
    border-bottom: 3em solid white;
    background-color: #D2F2B1;
    border-top: 3em solid white;
}