@media only screen and (min-width: 56em) {
    .menunavigation a{
        font-size: 25px;
    }
    .slider img{
		width: 600px;
	}
    .rentals{
		margin-top: 3em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
  }
