/* Small/Phone View ***************/

.headerflex{
    background-color: #F7F7F7;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0px;
}


nav {
    width: 600px;
	margin: 0 auto;
	background-color: #38040E;
}
.menunavigation {
	list-style: none;
	padding: 0;
    margin-top: -1px;
}
.menunavigation li:first-child {
	display: block;
}
.menunavigation li {
	display: none;
}
.menunavigation a {
	display: block;
	transition: 0.5s;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #F7F7F7;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    /* margin-block-start: -1em; (It also change the elements inside) */
}

.menunavigation a.home::before {
	content: "➕";
}

.menunavigation li:hover {
	color: black;
	background-color: #1D492E;
    
}


a.active{
    color: #A4B9AB;
    font-family: "Raleway", sans-serif;
}

.responsive li {
	display: block;
}

.responsive a.home::before {
	content: "➖";
}

.hondascooters{
    background-color: #1D492E;
}

.atv{
    background-color: #A4B9AB;
}

.jeep{
    background-color: #1D492E;
}

.rentals{
    display: block;
}

.rentals h2{
    margin-left: 50px;
}

.jeep li{
    margin-left: -15px;
}
.placeholder{
    margin: 0 auto;
	background-color: #38040E;
    color: white;
}

.slider{
    width: 600px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding:0;
    width: 600px;

    animation: cambio 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width:600px;
    height: 335px;
}

.slidercontainer{
    margin: auto;
    margin-top: -32px;  
    border-bottom: 10px solid #1D492E;
}

.tour{
    margin-bottom: 20px;
    background-color: #A4B9AB;
    margin-left: 50px;
    margin-right: 50px;
}
.tour img{
    width: 100%;
}

.tour h2{
    font-family: 'Sriracha', cursive;
    text-align: center;
}

.description{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 18px;
    margin-right: 18px;
}

.tour h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 18px;
    text-decoration: underline;
}

.tour h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-left: 18px;
    margin-right: 18px;
}

.sitesvisit{
    margin-top: 20px;
}

.touradress{
    margin-left: 20%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
footer{
    margin: 0 auto;
    padding: 5px 0;
	background-color: #38040E;
    color: white;
    font-family: "Raleway", sans-serif;
}
.fotter_text{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}
.adress{
    font-size: 20px;
    text-align: end;
    margin-right: 40%;
}
.socialmedia{
    width: 100px;
    height: auto;
}
.social{
    display: flex;
    justify-content: center;
}


@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% {margin-left: -100%;}

    50% { margin-left: -200%;}
    70% {margin-left: -200%;} 
}