/* Small/Phone View ***************/

.headerflex{
    background-color: #F7F7F7;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 0px;
}

.title_color{
    color: #A4B9AB;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-top: 40px;
    
}


nav {
	margin: 0 auto;
	background-color: #38040E;
}
.menunavigation {
	list-style: none;
	padding: 0;
    margin-top: -1px;
}
.menunavigation li:first-child {
	display: block;
}
.menunavigation li {
	display: none;
}
.menunavigation a {
	display: block;
	transition: 0.5s;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #F7F7F7;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    /* margin-block-start: -1em; (It also change the elements inside) */
}

.menunavigation a.home::before {
	content: "➕";
}

.menunavigation li:hover {
	color: black;
	background-color: #1D492E;
    
}


a.active{
    color: #A4B9AB;
    font-family: "Raleway", sans-serif;
}

.responsive li {
	display: block;
}

.responsive a.home::before {
	content: "➖";
}


.slider{
    width: 100%;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding:0;
    width: 100%;
    animation: cambio 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width:600px;
    height: auto;
}

.slidercontainer{
    margin: auto;
    margin-top: -32px;
}


.reserve{
    background-color: #A4B9AB;
    margin-top: 16px;
    margin-bottom: 20px;

}
.preserve{
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 2em;
}

.h1reserve{
    margin-top: 10px;
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 3em;
}
.buttoncontainer{
    text-align: center;
}
.button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color:white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #38040E;
    border-color: #6A3A44;
    border-width: 3px;
    border-style: solid;
    font-family: "Raleway", sans-serif;
}
.weathersummary{

    background-color: #6A3A44;
    color: white;
    margin-top: -20px;
    font-family: "Raleway", sans-serif;
}
.hondascooters{
    background-color: #1D492E;
}

.atv{
    background-color: #A4B9AB;
}
.atv h2, .hondascooters h2, .jeep h2{
    font-family: 'Sriracha', cursive;
}

.atv li, .hondascooters li, .jeep li{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.jeep{
    background-color: #1D492E;
}

.rentals{
    display: block;
}

.rentals h2{
    margin-left: 50px;
}

.jeep li{
    margin-left: -15px;
}
footer{
    margin: 0 auto;
    padding: 5px 0;
	background-color: #38040E;
    color: white;
    font-family: "Raleway", sans-serif;
}
.fotter_text{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}
.adress{
    font-size: 20px;
    text-align: end;
    margin-right: 40%;
}
.socialmedia{
    width: 100px;
    height: auto;
}
.social{
    display: flex;
    justify-content: center;
}
@keyframes cambio{
    0% { margin-left: 0;}
    20% { margin-left: 0;}

    25% { margin-left: -100%;}
    45% {margin-left: -100%;}


/* 

    50% { margin-left: -200%;}
    70% {margin-left: -200%;}

    75% { margin-left: -300%;}
    100% {margin-left: -300%;} */
}
